.col-lg-8.col-md-10.ml-auto.mr-auto
  %h4
    %small Simple With Actions
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th.text-center #
          %th Name
          %th Unit price
          %th Interest
          %th Duration
      %tbody
        = render partial: 'item', collection: stocks