.container
  .row
    .col-md-8
      %h4
    .col-md-4
      = link_to 'Add new stock', new_stock_path

    = render 'stocks/index/table', stocks: @facade.stocks if @facade.stocks

  .row.justify-content-center
    = render 'pagy/nav', pagy: @facade.pagination